<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security-4.0.xsd">

  <security:http pattern="/**"
                 use-expressions="true"
                 entry-point-ref="http403ForbiddenEntryPoint">

    <security:anonymous enabled="false"/>
    <security:intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>
    <security:custom-filter ref="loginFilter" after="SECURITY_CONTEXT_FILTER"/>
    <security:custom-filter ref="preAuthFilter" before="PRE_AUTH_FILTER"/>

    <security:logout logout-success-url="/" logout-url="/logout"/>
    <security:csrf disabled="true"/>
  </security:http>

  <bean id="http403ForbiddenEntryPoint"
        class="org.springframework.security.web.authentication.Http403ForbiddenEntryPoint"/>

  <bean id="loginFilter" class="com.scu.sso.filters.LoginFilter">
    <property name="loginUrl" value="http://localhost:8089/login"/>
  </bean>

  <bean id="preAuthFilter" class="com.scu.sso.filters.PreAuthFilter">
    <property name="authenticationManager" ref="authenticationManager"/>
  </bean>

  <security:authentication-manager alias="authenticationManager">
    <security:authentication-provider ref="preAuthProvider"/>
  </security:authentication-manager>

  <bean id="preAuthProvider"
        class="org.springframework.security.web.authentication.preauth.PreAuthenticatedAuthenticationProvider">
    <property name="preAuthenticatedUserDetailsService" ref="preAuthDetailsService"/>
  </bean>

  <bean id="preAuthDetailsService" class="com.scu.sso.services.PreAuthUserDetailsService"/>
</beans>