<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security-4.0.xsd">


    <security:http auto-config="true" use-expressions="true">
        <security:intercept-url pattern="/login*" access="permitAll"/>
        <security:intercept-url pattern="/error.jsp*" access="permitAll"/>
        <security:intercept-url pattern="/**" access="isAuthenticated()"/>
        <security:form-login
                login-processing-url="/login"
                username-parameter="username"
                password-parameter="password"
                authentication-failure-url="/error.jsp"
                default-target-url="/index.jsp"
                always-use-default-target="true"/>
        <security:logout logout-url="/logout" logout-success-url="/login"/>
        <security:remember-me token-validity-seconds="3600" remember-me-parameter="remember-me"/>
        <security:csrf/>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="user" password="password" authorities="ROLE_USER"/>
                <security:user name="admin" password="password" authorities="ROLE_USER,ROLE_ADMIN"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>
</beans>